.compaign-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.legend-tag {
    margin: 10px 0 -10px 0;
    font-weight: 600;
}

.link-button a {
    text-decoration: none;
}

.mantine-Input-input {
    background: transparent !important;
}