// ************************ Campaign List ************************
.campaign-card-container {

    .campaign-card-description {
        text-align: justify;
        height: 70px;
    }

    .mantine-Button-label {
        display: flex !important;
        gap: 5px !important;
        justify-content: center;
    }

}

// ************************ Campaign Details ************************
.form-wrapper {
    border: 1px solid #e7e4e442;
    padding: 15px;
    border-radius: .5rem;

    .campaign-image-section {
        display: flex;
        flex-direction: column;
        margin-bottom: .5rem;

        .legend-tag {
            margin: 10px 0 -10px 0;
            font-weight: 600;
        }
    }

    .campaign-image {
        height: 200px;
        width: 200px;
        border-radius: 50%;
        object-fit: cover;
    }

    .link-button a {
        text-decoration: none;
    }
}