@import './variables.scss';

// ************************ Input ************************
.mantine-Input-input {
    background: transparent !important;
}

// ************************ Breadcrumbs ************************
.mantine-Breadcrumbs-breadcrumb {
    .non-active-link {
        color: var(--light-color);
        text-decoration: none;

        &:hover {
            color: var(--primary-color) !important;
        }
    }

    .active-link {
        text-decoration: none;
        color: var(--primary-color) !important;
    }

}

.mantine-Breadcrumbs-separator {
    margin-right: 15px !important;
    margin-left: 15px !important;
}