@import './variables.scss';

.user-quiz-card-container {
    font-weight: 600;

    .card-image {
        height: 250px;
        width: 100%;
        border-radius: 10px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .quiz-status {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .expire-date,
    .quiz-reward {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .quiz-reward {
        margin-top: 10px;
    }

    .quiz-status {
        margin: 3px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .status {
            display: flex;
            gap: 10px;
            align-items: center;

        }

    }

}

.user-quiz-summary-container {
    .quiz-name {
        font-size: 2em;
    }

    .question-title {
        margin-top: 3rem;
        font-size: 1.5em;
    }

    .reply-button,
    .try-again-text {
        margin-top: 30px !important;
    }

    .try-again-button,
    .share-survey-button {
        margin-top: 15px !important;
    }

}