@import './variables.scss';

.user-quiz-card-container {
    font-weight: 600;

    .card-image {
        height: 250px;
        width: 100%;
        border-radius: 10px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .quiz-status {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .expire-date,
    .quiz-reward {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .quiz-reward {
        margin-top: 10px;
    }

    .quiz-status {
        margin: 3px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .status {
            display: flex;
            gap: 10px;
            align-items: center;

        }

    }

}

.user-quiz-form {
    .flex-quiz-header {
        display: flex;
        justify-content: space-between;

        .quiz-name {
            font-size: 2.5em;
        }

        img {
            height: 200px;
            width: 200px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .question-body {
        font-size: 1.7em;
        margin-bottom: 1rem;
    }

    .selected-option {
        padding: 10px;
        border: 1px solid rgba(231, 228, 228, 0.2588235294);
        border-radius: 5px;
        margin-bottom: 1rem;
    }

    .mantine-Radio-labelWrapper,
    .mantine-Checkbox-labelWrapper {
        width: 100% !important;
    }
}

.user-quiz-summary-container {

    .quiz-summary-img {
        display: block;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        object-fit: cover;
    }

    .question-title {
        margin-top: 3rem;
        margin-bottom: 5px;
        font-size: 1.5em;
    }

    .reply-button {
        margin-top: 2rem !important;
    }

    .try-again-button,
    .share-survey-button {
        margin-top: .8rem !important;
    }

}